@import '../../colors.scss';

.mt-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: solid 2px $color-black;
  overflow-x: auto;

  .mt-header, .mt-content, .mt-row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .mt-h-cell, .mt-cell {
      width: 20%;
      height: 45px;
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .mt-header {
    background-color: $color-bg-main;
    font-size: 1.1em;
    font-weight: 700;
    flex-direction: row;
  }

  .mt-content {
    background-color: rgba($color-bg-sub, .5);
    flex-direction: column;
    .mt-row {
      &:nth-child(2n+1) {
        background-color: rgba(#000000, .2);
      }
    }
  }
}