@import './colors.scss';

@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

@keyframes PageAppear {
  from {
      transform: translateY(-5%);
      opacity: 0;
  }
  to {
      transform: translateY(0%);
      opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .App {
    width: 100vw;
    height: 100vh;
    animation: animateBg 10s linear alternate-reverse infinite;
    background-image: linear-gradient(0deg,$color-bg-main,$color-bg-sub);
    background-size: 100% 200%;
    display: flex;
    flex-direction: column;

    .page {
      animation: PageAppear .5s ease 1 forwards;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .main-wrapper {
        color: $color-black;
        background-color: $color-white;
        width: 80%;
        margin-right: 10%;
        max-width: 1000px;
        font-size: 1em;
        box-shadow: 5px 5px 20px rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        max-height: 80vh;
        overflow-y: auto;

        .intern-nav {
          width: 100%;
          height: auto;
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          padding: 8px 4px;
          background-color: $color-darkgrey;
          border-bottom: solid 2px $color-black;
          
          .tab-wrapper .title {
            color: $color-white;
          }
        }

        .wrapper {
          padding: 10px;
        }
        
        h1 {
          font-size: 1.2em;
          font-weight: 700;
          color: $color-bg-main;
        }

        h2 {
          font-size: 1.1em;
          font-weight: 700;
        }

        h3 {
          font-weight: 700;
          text-decoration: underline;
          font-size: 1em;
        }

        p {
          margin: 5px;
        }

        a {
          color: $color-black;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }

    .background {
      position: absolute;
      bottom: 0;
      left: 5%;
      height: auto;
      width: auto;
      opacity: .7;
    }

    .page {
      flex: 1;
      width: 100%;
    }
  }
}

.spacer {
  flex: 1;
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,.5);
  }

  ::-webkit-scrollbar-thumb {
    background: $color-white;
    opacity: .7;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 960px) {
  body {
    font-size: 12px;
    .App {
      max-height: 100vh;
      overflow-y: auto;
      .page {
        align-items: flex-start;
        padding: 20px;
        .main-wrapper {
          width: 100%;
          margin: 0 0 20px 0;
          max-width: none;
          max-height: none;
          box-shadow: none;
        }
      }
    }
  }
}